[submodule "cam/lib/pytorch-grad-cam"]
	path = cam/lib/pytorch-grad-cam
	url = https://github.com/jacobgil/pytorch-grad-cam.git
[submodule "cam/lib/cam1"]
	path = cam/lib/cam1
	url = https://github.com/jacobgil/pytorch-grad-cam.git
[submodule "cam/lib/cam2"]
	path = cam/lib/cam2
	url = https://github.com/kazuto1011/grad-cam-pytorch.git
[submodule "chexpert/lib/Chexpert"]
	path = chexpert/lib/Chexpert
	url = https://github.com/searobbersduck/Chexpert.git
[submodule "ray8/lib/chexnet"]
	path = ray8/lib/chexnet
	url = https://github.com/searobbersduck/chexnet.git
